<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nostr Broadcaster</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body class="bg-dark text-white">
    <!-- <h1>Nostr Broadcaster</h1> -->
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="https://layer.systems" target="_blank" class="nav-link px-2 text-white">LAYER.systems</a></li>
          </ul>
  
          <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
          </form> -->
  
          <div class="text-end">
            <button type="button" id="login" class="btn btn-outline-light me-2" onclick="nostrLogin()">Login</button>
            <!-- <button type="button" class="btn btn-warning">Sign-up</button> -->
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <form action="/deploy" method="post">
      <!-- <form id="deploy"> -->
        <div class="mb-3">
          <label for="publickey" class="form-label">Public Key</label>
          <input type="text" class="form-control" id="publickey" name="publickey" aria-describedby="publickey" placeholder="82341f882b6eabcd2ba7f1ef90aad961cf074af15b9ef44a09f9d2a8fbfbe6a2">
          <div id="publickeyHelp" class="form-text text-white">Your profiles public key <b>(in hex format)</b>.</div>
        </div>
        <div class="mb-3">
          <label for="from_relays" class="form-label">From Relays</label>
          <input type="text" class="form-control" id="from_relays" name="from_relays" placeholder="wss://relay.nostr.band">
        </div>
        <div class="mb-3">
          <label for="to_relay" class="form-label">To Relay</label>
          <input type="to_relay" class="form-control" id="to_relay" name="to_relay" placeholder="wss://your-node.example">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <!-- <button type="button" class="btn btn-primary" onclick="deploy()">Submit</button> -->

      <!-- <form action="/deploy" method="post">
        <input type="text" name="publickey" placeholder="82341f882b6eabcd2ba7f1ef90aad961cf074af15b9ef44a09f9d2a8fbfbe6a2">
        <input type="text" name="from_relays" placeholder="wss://relay.nostr.band">
        <input type="text" name="to_relay" placeholder="wss://your-node.example">
        <button type="submit" class="btn btn-primary">Create Job</button>
      </form> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script>      
      async function deploy() {
        console.log("Deploying");
        console.log(document.getElementById('deploy'))

        await fetch('/deploy', {
          method: 'POST',
          headers: {
            'Content-Type': 'multipart/form-data'
          },
          body: JSON.stringify({
            publickey: document.getElementById('publickey').value,
            from_relays: document.getElementById('from_relays').value,
            to_relay: document.getElementById('to_relay').value
          })
        }).then(function(response) {
          console.log(response);
          // redirect to status page
          // window.location.href = "/status/" + response;
        }).catch(function(err) {
          console.log(err);
        })
      }

      async function nostrLogin() {
        const pubkey = await window.nostr.getPublicKey();
        console.log(pubkey);
        window.document.getElementById('publickey').value = pubkey;
        nostrGetUserinfo(pubkey);
        nostrGetUserRelays(pubkey);
      }

      async function nostrGetUserinfo(pubkey) {
        const relay = new WebSocket('wss://relay.nostr.band');
        let name = "";

        relay.onopen = function(event) {
            relay.send('["REQ", "133742070", {"kinds": [0], "authors": ["'+pubkey+'"]}]');
        };
        relay.onmessage = function(event) {
            const data = JSON.parse(event.data);
            if (data[0] === "EVENT") {
                const foundName = JSON.parse(data[2].content)['name'];
                console.log("Found Name: " + foundName);
                document.getElementById('login').innerHTML = `Logged in as ${foundName}`;
            } else if (data[0] === "EOSE") {
                relay.close();
            }
        }
      }

      async function nostrGetUserRelays(pubkey) {
        const relay = new WebSocket('wss://relay.nostr.band');
        let name = "";

        relay.onopen = function(event) {
            relay.send('["REQ", "133742071", {"kinds": [10002], "authors": ["'+pubkey+'"]}]');
        };
        relay.onmessage = function(event) {
            const data = JSON.parse(event.data);
            if (data[0] === "EVENT") {
              relays = [];
              for(tag of data[2]['tags']) {
                if(tag[0] === "r") {
                  console.log(tag[1]);
                  relays.push(tag[1]);
                }
              }
              document.getElementById('from_relays').value = relays.join(',');
            } else if (data[0] === "EOSE") {
                relay.close();
            }
        }
      }
    </script>
  </body>
</html>